#user-progress #block-s4-core-user-progress { margin-bottom: 30px; }
	#block-s4-core-user-progress h2 { font-size: 1.2em; }
.user-signup-status { clear: both; }
	.item-list .user-signup-status li, div.signup, .user-signup-status .selection { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; height: 32px; font-size: 1.2em; padding-right: 10px; }
	.item-list .user-signup-status li { margin: 0px 10px 0px 0px; float: left; color: #fff; background: #a6a6a6 url(../images/arrow_mask.png) no-repeat top right; list-style-type: none;  padding: 0 20px 0 0;  }
		.item-list li.items-4 { width: 18%; }
		.item-list li.items-3 { width: 25%; }
		.item-list li.items-2 { width: 40%; }
		
		.user-signup-status li div { margin: 5px 0 5px 15px; }
		.user-signup-status li a, .signup a { color: #fff !important; text-decoration: none; }
	.user-signup-status li.done, .signup.signed-up { background-color: #75b902; }
		.user-signup-status li.complete.finished { background-color: #e15440 !important; box-shadow: 0 0 10px #e15440; }
		.user-signup-status li .signup:hover { background-color: #868686; }
	.user-signup-status li.clickable:hover, .signup:hover, .signup.remove { background-color: #e15440; }
	.user-signup-status .number { display: block; float: left; margin: -1px 10px 0 0; background: rgba(0,0,0,0.4); color: #fff; width: 24px; height: 24px; font-size: 18px;  border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; text-align: center; }
	
	.item-list .user-signup-status li.complete { background-image: none; background-color: #5492a9;  }
	li.complete div { text-align: center; }

.user-signup-status .selection { font-size: .9em; background-color: #5492a9; margin: 7px 0 0 0; height: auto; padding: 0 6px; overflow: hidden; white-space: nowrap;}

.signup { background-color: #5492a9; color: #fff; padding: 6px 0 0 4px; }
.signup.denied { background-color: #a6a6a6; }
.signup .icon { background: rgba(0,0,0,0.4) url(../images/signup_icons.png) no-repeat 1px -51px; height: 30px; width: 30px; float: left; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; margin: -2px 10px 0 0;}
	.signup.course { height: auto; padding-bottom: 4px;  }
	.signup.remove .icon { background-position-y: 5px; }
	.signup.denied .icon { background-position-y: -99px; }
	.signup.add    .icon { background-position-y: -154px; }